/.git/*
!.keep
*.DS_Store
*.swo
*.swp
.byebug_history
/.bundle
/.env.local
/coverage/*
/db/*.sqlite3
/db/*.sqlite3-journal
/.docker-sync
/log/*
/node_modules
/public/packs
/public/system
/public/uploads
/public/packs-test
/public/system
/tags
/tmp/*
/yarn-error.log
/.ruby-version
/db.sql
