<% if issues_with_children.present? %>
  <ul class="list-group">
    <% issues_with_children.each do |issue, children| %>
      <li class="list-group-item">
        <div class="<%= children.present? ? "mb-2" : "" %>">
          <%= link_to issue.subject, issue_path(issue) %>
        </div>
        <%= render "children", issues_with_children: children %>
      </li>
    <% end %>
  </ul>
<% end %>
