<div id="child-issues" class="list-group list-group-root">
  <% current_level = 0 %>

  <% issue.walk_tree do |issue, level| %>
    <% if current_level != level %>
      <% if current_level < level %>
        <div class="list-group">
      <% else %>
        <% (current_level - level).times do %>
          </div>
        <% end %>
      <% end %>
      <% current_level = level %>
    <% end %>
    <%= link_to issue.subject, issue_path(issue), class: "list-group-item" %>
  <% end %>

  <% current_level.times do %>
    </div>
  <% end %>
</div>
