<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Key</th>
      <th scope="col">Subject</th>
      <th scope="col" class="text-right">Due</th>
    </tr>
  </thead>
  <tbody>
    <% @issues.each do |issue| %>
      <tr>
        <th scope="row">
          <%= link_to "#{issue.project.key}-#{issue.id}", issue_path(issue) %>
        </th>
        <td>
          <%= link_to issue.subject, issue_path(issue) %>
        </td>
        <td class="text-right"><%= issue.due_at ? l(issue.due_at, format: :short) : "" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
