<hr>

<blockquote class="blockquote">
  This policies are open source, licensed under <a href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a>.
  Adapted from the <a href="https://github.com/basecamp/policies">Basecamp open-source policies</a> / <a href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a>
</blockquote>
