<h1>Resourcer subprocessors</h1>

<p>Resourcer uses third party subprocessors, such as cloud computing providers and customer support software, to provide our services. We enter into GDPR-compliant data processing agreements with each subprocessor, extending GDPR safeguards everywhere personal data is processed.</p>

<p>Subprocessors located in the United States:</p>

<ul>
  <li><a href="https://cloud.google.com/security/gdpr/resource-center" rel="nofollow">Google Cloud Platform.</a> Cloud services provider.</li>
</ul>

<%= render "license" %>
