// Combination of .svg-inline--fa + .fa-primary
.svg-icon {
  display: inline-block;
  fill: currentColor;
  font-size: inherit;
  height: 1em;
  opacity: 1;
  overflow: visible;
  vertical-align: -0.125em;
}

.svg-icon--sm {
  font-size: 0.875em;
}

.svg-icon--xl {
  font-size: 2em;
  vertical-align: -0.3em;
}
