@charset "utf-8";

// variables
$navbar-top-padding: 3.75rem;

// base
@import "bootstrap/scss/bootstrap-reboot";
@import "bootstrap/scss/bootstrap-grid";
@import "bootstrap/scss/root";

// bootstrap components
@import "bootstrap/scss/alert";
@import "bootstrap/scss/type";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/media";
@import "bootstrap/scss/card";
@import "bootstrap/scss/close";
@import "bootstrap/scss/tables";
@import "bootstrap/scss/nav";
@import "bootstrap/scss/navbar";
@import "bootstrap/scss/list-group";
@import "bootstrap/scss/forms";
@import "bootstrap/scss/transitions";

// utilities
@import "bootstrap/scss/utilities/background";
@import "bootstrap/scss/utilities/text";
@import "bootstrap/scss/utilities/shadows";
@import "bootstrap/scss/utilities/position";
@import "bootstrap/scss/utilities/borders";
@import "bootstrap/scss/utilities/sizing";

@import "flatpickr/dist/flatpickr";
@import "ibm-gantt-chart/dist/ibm-gantt-chart";
@import "./components/*";

.navbar-top-padding {
  padding-top: $navbar-top-padding;
}

.nav-icon {
  height: 1.8rem;
  width: 1.8rem;
}

@include media-breakpoint-down(md) {
  .sr-only-md {
    @include sr-only();
  }
}
