<div class="modal fade"
     tabindex="-1"
     role="dialog"
     aria-labelledby="modal"
     aria-hidden="true"
     data-controller="modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content" data-target="modal.content"></div>
  </div>
</div>
